.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  justify-content: end;
  direction: rtl;
}

.product-list img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
