.products {
  text-align: right;
}

.icon {
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.products-page {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Center the container horizontally */
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center; /* Center the grid items horizontally */
}



