.comparing-carts-container {
    padding: 7%;
    background-color: #c3cfe2 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.result-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.cart-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.cart-row {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-content {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-logo {
    width: 100%;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.cart-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.cart-price, .delivery-price, .total-price {
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
    font-weight: bold;
}

.delivery-price {
    color: #007bff;
}

.total-price {
    font-size: 18px;
    color: #28a745;
}

.order-btn {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

.order-btn:hover {
    background-color: #0056b3;
}

.cart-missingProducts {
    font-weight: bold;
    color: #e00f0f;
}